.card {
    background-color: #16181C;
    width: 30%;
    height: 100vh;
    margin-inline: auto;
    border-radius: 20px;
    color: white; /* Remove this eventually */
}

img {
    max-width: 100%;
    max-height: 250px;
}

.img-contain {
    display: flex;
    justify-content: center;
    /* background-image: url(./images/grad_photo.jpg);
    background-repeat: no-repeat; */
}

.center-text {
    text-align: center;
}

h1, h2, h3, h4, p {
    margin: 0;
    margin-inline: 3rem; 
}

.d-flex {
    display: flex;
}

.mx-auto {
    margin-inline: auto;
}

.justify-content-center {
    justify-content: center;
}

.footer {
    position: absolute;
    bottom: -0.5rem;
    background-color: #101011;
    border-radius: 0px 0px 20px 20px;
    width: 29.55%;
    height: 4rem;
}

.test {
    min-height: 1000px; /* Remove this */
}

button {
    border-radius: 5px;
    border: 0px;
    padding-block: 10px;
    width: 30%;
    align-items: center;
}

.headings, .buttons {
    margin-bottom: 2rem;
}

.buttons {
    justify-content: space-evenly;
}

.icon {
    height: 1rem;
    width: 1rem;
    margin-right: 1rem;
}

.btn-icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

h5 {
    margin: 0;
}